body {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    margin:0;
}

a {
    text-decoration: none;
}

/* navbar styles start */
a.navbar-link {
    color: white;
    font-size: 14px;
}

#navbar-div {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 10px 40px;
    background-color: #142850;
}

/* navbar styles end */


/* backdrop style start */
#backdrop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    column-gap: 25px;
    padding: 4% 8%;
    margin-top: 1%;
    text-align: center;
}

img.dp {
    width: 200px;
    height: auto;
}

/* #backdrop>div {
    border: 1px solid red;
} */

/* backdrop left column styles start */
#backdrop-left-column {
    width: 100%;
    color: #21243D;
}

#intro-heading {
    font-weight: 700;
    font-size: 32px;
    min-height:190px;
}

#backdrop-left-column>h2 {
    margin-bottom: 0px;
    font-weight: 500;
}

#backdrop-left-column>p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
    text-align: justify;
}

#backdrop-left-button {
    background-color: #FF6464;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    border: 0;
}

#backdrop-left-button:hover {
    background-color: #df5353;
    cursor: pointer;
}

/* backdrop left column styles end */
#backdrop-right-column {
    width: 100%;
    text-align: center;
}

#dp-container {
    position:relative;
    height:min-content;
}

#profession-icon {
    position:absolute;
    background-color:#21243D;
    color:white;
    right:20%;
    bottom:2%;
    font-size:x-large;
    height:60px;
    width:60px;
    border-radius:60px;
    text-align:center;
    line-height:60px;
}

@media screen and (min-width:500px) {
    #backdrop {
        flex-direction: row;
        text-align: left;
    }

    #backdrop-left-column {
        flex-basis: 60%;
    }

    #intro-heading {
        font-size: 44px;
        min-height:130px;
    }

    #backdrop-right-column {
        flex-basis: 35%;
    }

    img.dp {
        width: 350px;
    }

    a.navbar-link {
        font-size:18px;
    }

    #profession-icon {
        font-size:xx-large;
        height:80px;
        width:80px;
        border-radius:80px;
        line-height:80px;
    }
}

/* backdrop styles end */

/* recent blogs starts */

section {
    padding: 1.5% 8%;
}
#recent-blog-posts-section {
    background-color: #EDF7FA;
}

#recent-posts-header {
    display: flex;
    justify-content: space-between;
}

.my-h4 {
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    margin-bottom: 15px;
    margin-top: 0;
}

#card-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

@media screen and (min-width:500px) {
    #recent-blog-posts-section {
        padding: 1.5% 8%;
    }

    #card-container {
        flex-direction: row;
        column-gap: 1%;
    }
}

div.card {
    color: #21243D;
    font-weight: 400;
    background-color: white;
    border-radius: 5px;
    padding: 20px 22px;
}

h2.my-h2 {
    color: #21243D;
    font-weight: 700;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.my-h2:hover {
    text-decoration: underline;
}

div.card>span {
    font-size: 18px;
    padding: 5px 10px;
}

div.card>p {
    font-size: 16px;
}

/* recent blogs ends */


/* featured works starts */

section.featured-works {
    background-color: #EDF7FA;
    padding: 2% 8%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

div.horizontal-card {
    display: flex;
    flex-direction: column;
    column-gap: 3%;
}

@media screen and (min-width:500px) {
    div.horizontal-card {
        row-gap: 20px;
        flex-direction: row;
    }
}

span.pill {
    background-color: #142850;
    padding: 1.5px 15px;
    color: white;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
}

span.secondary-text {
    color: #8695A4;
    font-size: 18px;
    margin-left: 12px;
}

div.horizontal-card>div>p,
div.horizontal-card li {
    color: #21243D;
    font-size: 16px;
}

div.horizontal-card>img {
    border-radius: 6px;
}

/* featured works ends */

/* social media links starts */

#social-media-links-section {
    font-size: 30px;
    color: #142850;
    padding: 2% 0%;
}

#icons-div {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: baseline;
}

#icons-div>a {
    color: #142850;
}


/* social media links ends */


/* Contacts Page Table */
#contacts-table {
    width:50%;
    margin:auto;
}

#contacts-table td, #contacts-table th {
    padding: 5px 20px;
}

#contacts-table thead {
    background-color:#142850;
    color:white;
}

th:first-child, td:first-child {
    float:right;
}

th:nth-child(2), td:nth-child(2) {
    text-align:left;
}

tbody> tr:nth-child(even) {
    background-color:#f3f3f3;
}

details {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #8695A4;
    border-radius: 4px;
    margin-top:1rem;
}

/* Experience */
#experience-header {
    margin-bottom:2rem;
}

div.experience-item {
    display:flex;
    align-items: flex-start;
    column-gap: 2rem;
    margin-bottom:1.5rem;
}


div.experience-item-details > h2, div.experience-item-details > h3 {
    margin:0;
}

p.experience-item-tenure {
    color:#8695A4;
    margin:0 !important;
}

p.experience-item-description {
    margin-top:0.3rem !important;
}